.wrapper__about{
    padding-top: 9rem;
    .about__container{
        .about__row{
            .about__colleft{

            }
            .about__colright{
                padding-top: 3rem;
                .about__title{
                    h6{
                        font-size: 32px;
                        line-height: 1em;
                        font-family: "Work Sans";
                        color: rgb(21, 47, 46);
                        font-style: normal;
                        font-weight: 600;
                        width: 55%;
                        padding-top: 20px;
                    }
                   
                }
                .about__para{
                    font-size: 18px;
                    line-height: 22px;
                    font-family: Muli;
                    color: rgb(21, 47, 46);
                    font-style: normal;
                    font-weight: 400;
                    width: 70%;
                    padding-top: 20px;
                }
            }
        }
    }
}