.wrapper__feature{
    padding-top: 7rem;
    .feature__container{
      
        .feature__row{
            .feature__row-col1{
                .feature1__pic{

                }
                .feature1__title{
                    h5{
                        text-align: left;
                    }
                }
                .feature1__para{
                    p{
                        text-align: left;
                    }
                }
            }
            .feature__row-col2{
                .feature2__pic{

                }
                .feature2__title{
                    h5{
                        text-align: left;
                    }
                }
                .feature2__para{
                    p{
                        text-align: left;
                    }
                }
            }
            .feature__row-col3{
                .feature2__pic{

                }
                .feature2__title{
                    h5{
                        text-align: left;
                    }
                }
                .feature2__para{
                    p{
                        text-align: left;
                    }
                }
            }
        }
    }
}